<!DOCTYPE html>
<html>
<head>
    <meta encoding="UTF-8" />
    <title>angular-auto-focus</title>
    <link rel="icon" type="image/png" href="//cdn.rawgit.com/myplanetdigital/gh-pages-theme/v1.0.2/assets/favicon.png" />
    <link rel="stylesheet" href="//cdn.rawgit.com/myplanetdigital/gh-pages-theme/v1.0.2/assets/fonts.css" />
    <link rel="stylesheet" href="//cdn.rawgit.com/myplanetdigital/gh-pages-theme/v1.0.2/theme.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/github.min.css" />
    <style>
    .showcase-example {
        box-sizing: border-box;
        padding: 20px;
        min-height: 140px;
    }
    .showcase-example input {
        font-family: TradeGothic, sans-serif;
        font-size: 16px;
        color: #333;
        box-sizing: border-box;
        width: 100%;
        margin-top: 20px;
    }
    .showcase-example button {
        font-family: TradeGothic, sans-serif;
        font-size: 16px;
        padding: 10px;
        color: #333;
        cursor: pointer;
    }
    </style>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.9/angular.js"></script>
    <script src="//cdn.rawgit.com/myplanetdigital/angular-auto-focus/v1.0.2/angular-auto-focus.js"></script>
    <script>
        hljs.initHighlightingOnLoad();

        angular.module('demo', [ 'mp.autoFocus' ]);
    </script>
</head>
<body>
    <header>
        <div class="content-wrap">
            <a href="http://myplanet.com" class="logo" title="Myplanet">Myplanet</a>
            <h1><a href=".">angular-auto-focus</a></h1>
            <h2>Bullet-proof auto-focusing for Angular</h2>
        </div>
    </header>
    <nav>
        <div class="content-wrap">
            <ul>
                <li><a href="#overview">Overview</a></li>
                <li><a href="#download">Download <strong>v1.0.2</strong></a></li>
                <li><a href="#usage">Usage</a></li>
                <li><a href="https://github.com/myplanetdigital/angular-auto-focus">View on <strong>GitHub</strong></a></li>
            </ul>
        </div>
    </nav>
    <article ng-app="demo">
        <section class="showcase">
            <div class="content-wrap">
                <div class="showcase-example">
                    <button ng-init="render = true" ng-click="render = !render">
                        Toggle
                    </button>
                    <input ng-if="render" auto-focus>
                </div>
                <div class="showcase-content">
                    <h3>Live Demo</h3>

                    <p>Click the <strong>Toggle</strong> button to toggle the rendering of the input element.</p>
                </div>
                <div class="showcase-content-full">
                    <h4>Demo Source</h4>

                    <pre><code class="lang-html"><!--
-->&lt;button ng-init=&quot;render = true&quot; ng-click=&quot;render = !render&quot;&gt;
    Toggle
&lt;/button&gt;
&lt;input ng-if=&quot;render&quot; auto-focus&gt;<!--
                    --></code></pre>
                </div>
            </div>
        </section>
        <section>
            <div class="content-wrap">
                <h3 id="overview">Overview</h3>

                <p>The HTML <code>autofocus</code> attribute doesn't consistently work across different browsers when an element is inserted into the DOM after the initial page load. <strong>angular-auto-focus</strong> introduces the <code>auto-focus</code> attribute that works consistently.</p>
            </div>
        </section>
        <section>
            <div class="content-wrap">
                <h3 id="download">Download</h3>

                <p>Grab the latest from <a href="https://github.com/myplanetdigital/angular-auto-focus/releases">GitHub</a> or use your favorite package manager:</p>

                <h4>Via Bower</h4>

                <pre><code class="lang-sh">bower install angular-auto-focus</code></pre>

                <h4>Via NPM</h4>

                <pre><code class="lang-sh">npm install angular-auto-focus</code></pre>

                <h3 id="usage">Usage</h3>

                <p>Include <strong>angular-auto-focus.js</strong> in your application,
                    after Angular is included.</p>

                <pre><code class="lang-html"><!--
-->&lt;script src=&quot;path/to/angular.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;path/to/angular-auto-focus.js&quot;&gt;&lt;/script&gt;<!--
                --></code></pre>

                <p>You may use an AMD or CommonJS loader as well.</p>

                <p>Initialize your Angular application with the <strong>mp.autoFocus</strong> module as a dependency:</p>

                <pre><code class="lang-js"><!--
-->angular.module('app', [ 'mp.autoFocus' ]);<!--
                --></code></pre>

                <p>Then use the <code>auto-focus</code> attribute to give focus to any focusable element, such as an input element:</p>

                <pre><code class="lang-html"><!--
-->&lt;label&gt;Username &lt;input name="username" auto-focus&gt;&lt;/label&gt;
&lt;label&gt;Password &lt;input type="password" name="password"&gt;&lt;/label&gt;<!--
                --></code></pre>

                <p>You can also you use it with any element with a <code>tabindex</code> attribute:</p>

                <pre><code class="lang-html"><!--
-->&lt;div class=&quot;dialog&quot; tabindex=&quot;0&quot; auto-focus&gt;
&lt;/div&gt;<!--
                --></code></pre>

                <h3>License</h3>

                <p><a href="//cdn.rawgit.com/myplanetdigital/angular-auto-focus/v1.0.2/LICENSE.txt">MIT</a></p>
            </div>
        </section>
    </article>
    <footer>
        <div class="content-wrap">
            Made with <span class="love" title="love">love</span> by
            <a href="https://github.com/atesgoral">Ates</a>
            from
            <a href="http://myplanet.com/">Myplanet</a>.
        </div>
    </footer>
</body>
</html>
